{%extends 'layout.html' %}
{%block content%}

<h1 style="color: blue; font-weight: bolder; font-style: italic;">Deposite </h1>
<br>
<hr>
<div class="container">
    <form action="{{ url_for('deposite') }}" method="post" autocomplete="off">
      <div class="mb-3">
        <label for="Deposite Amount" class="form-label">Deposit Amount</label>
        <input type="text" class="form-control" id="exampleInputUsername" name="deposite" aria-describedby="username">
      </div>
   
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  

{% endblock %}